{% extends 'attendence_sys/main.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video Instructions</title>
    <h1>Video instructions</h1>
    <h2>This article guides you in uploading facial videos</h2>
    <p><b>Please follow below instructions so that all 3 face profiles are covered:</b></p>
    <p><br><b>1)Position your head straight viewing the webcam of your laptop/PC for 5 secs</b></p>
        <p><br><b>2)Position your head left from the webcam of your laptop/PC for 5 secs</b></p>
        <p><br><b>3)Position your head right from the webcam of your laptop/PC for 5 secs</b></p>

    </p>
</head>
<body>

</body>
</html>
{% endblock %}
